* {
    box-sizing: border-box; /* gestisce larghezza massima */
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased; /* caratteri più sottili */
}

html, body {
    height: 100%;
    margin: 0;
    color: black;
    background-color: #ffe05b; /* giallo usato per i body */
    font-size: 22px;
}

.bg_yellow {
  background-color: #ffe05b; /* giallo usato per i body */
}
.bg_blue {
	background-color: #3891A6; /* azzurro usato per sidenav */
}
.bg_teal {
	background: #197278; /* teal usato per il footer */
}

/* HEADER */
header {
  display: flex; /* element as a block-level flex container */
  justify-content: space-between; /* flexible container's items, space between items */
  align-items: center;
  padding: 0 20px;
}
.header_img img {
  width: 150px; /* immagine autografo piccola */
  height: auto;
  padding: 10px;
  display: block;
}

/* TOPNAV */
.topnav {
	overflow: hidden;
}
.topnav a {
	color: #4A2C00;  /* colore marrone delle scritte su fondo giallo */
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  float: left;
  font-size: 17px;
  cursor: pointer;
}
.topnav a:hover {
  background-color: #e6b319; /* colore giallo ocra delle pagine attive */
  color: black;
}
/* pagina attiva*/ 
.pagina {
	background-color: #e6b319;
}
/* ELEMENTI INDEX */
/* hero */
.hero_image {
  background-image: url("img/layout/autoritratto.png.jpg");
  height: 100%; 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat; /* perchè non ripeta l'immagine se è più piccola del contenitore */
  background-size: cover; /* fondamentale per le immagini hero perchè copre tutto lo sfondo */
  position: relative;
  transition: background-size 0.1s linear; /* tempo di transizione per lo zoom */
}
.hero_text {
	width: 40%;
	padding: 5%;
	color: #001D4A; /* colore blu per scritte su fondo azzurro */
}
.hero_button {
	width: 100%; /* dentro la div hero text per farlo di 40% del totale */
	height: 40px;
  	border: 1px solid #e6b319;
  	border-radius: 8px;
  	color: #4A2C00;
  	background-color: #ffe05b;
  	cursor: pointer;
  	text-align: center;
}
.hero_button:hover {
  background-color: #e6b319;
}
.hero_button a {
	font-size: 20px;
	font-weight: bold;
	color: #4A2C00;
	padding: 10px;
}

/* quote */
.quote {
	text-align: center;
	font-size: 30px;
	text-shadow: 5px 5px 10px #995c00;
	font-style: italic;
	font-weight: bold;
	color: #4A2C00;
}
.author {
	text-align:right;
	font-style: italic;
	padding-right: 30px;
	color: #4A2C00;
}

/* navigazione secondaria index */
.navigazione2 {
	display:flex;
	justify-content: center;
  	width: 100%;
  	padding: 0;
 	margin: 0;
}
.container {
	float: left;
  	position: relative;
  	max-width: 30%;
  	margin: 20px;
 }
/* immagine */
.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
}
/* overlay scritta sopra l'immagine */
.overlay {
  position: absolute;
  overflow: hidden;
  bottom: 100%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity:0;
  text-align: center;
  border-radius: 12px;
}
/* overlay in hover */
.container:hover .overlay {
  opacity: 1;
  bottom: 0;
  height: 100%;
}
.text {
  color: whitesmoke;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* per centrare l'elemento */
  -ms-transform: translate(-50%, -50%); /* per internet explorer */
}

/* FOOTER */
footer {
	position: relative;
  clear: both;
  width: 100%;
  background-color: #197278;
  display: block;
  margin-top: 20px;
  padding: 20px 0;
}
.credits, .copyright {
	color: whitesmoke;
	text-align: center;
	font-size: 17px;
}
.credits a, .copyright a{
	color: whitesmoke;
	text-decoration: underline;
}
.credits a:hover, .copyright a:hover{
	color: #001D4A; /* colore blu */
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #197278; 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #003380; 
}

/* PROGETTO */
/* columns progetto*/ 
.row {
  display: flex;
  flex-wrap: wrap;
}

.leftcolumn {
  width: 30%;
  background-color: #3891A6; /* colore azzurro */
  box-sizing: border-box; /* gestisce larghezza massima */
}

.rightcolumn {
  	width: 70%;
  	padding: 20px;
 	box-sizing: border-box; /* gestisce larghezza massima */
  	font-size: 18px;
	color: #4A2C00; /* colore delle scritte marroni su bg_yellow */
	position: relative;
}
.rightcolumn a{
	color: #4A2C00;
}
.rightcolumn a:hover{
	color: #3891A6; /* colore azzurro */
}

/* breadcrumbs */
ul.breadcrumb {
  padding: 10px 20px;
  list-style: none; /* no puntini */
  text-align: left;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
 	color: whitesmoke;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: white;
  content: "/\00a0"; /* metti / */
}
ul.breadcrumb li a {
  color: #001D4A;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: whitesmoke;
  text-decoration: underline;
}

/* side navigation */
.sidenav {
	position: sticky; /* la tiene nella stessa posizione quando scrollo */
  width: 100%;
  z-index: 1; /* mette davanti */
  top: 10px;
  left: 10px;
  overflow-x: hidden;
  padding: 10%;
  color: #001d4a;
}
.sidenav a {
  padding: 3px;
  text-decoration: none;
  font-size: 17px;
  color: #001D4A;
  display: block;
}
.sidenav a:hover {
  color: whitesmoke;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.sidenav button {
	width: 100%;
	height: 50px;
  border: none;
  color:  #001D4A;
  font-size: 17px;
  font-weight: bold;
  background-color: #3891A6;
  padding: 15px 32px;
  cursor: pointer;
}
.sidenav button:hover {
	background-color: #197278;
	color: whitesmoke;
}
.sidenav ol, .sidenav ul {
  margin-top: 0;
  margin-bottom: 0;
}
.WPP{
	width: 100%;
	height: auto;
	border-radius: 13px;
}
/* CATALOGO */
/* tab catalogo*/
.tab {
  overflow: hidden;
  border: 1px solid #e6b319;
  background-color: #f1f1f1;
  border-radius: 12px;
}
/* bottoni per aprire tab */
.tab button {
  color: #4A2C00;
  background-color: #ffe05b;
  font-size: 17px;
  font-weight: bold;
  width: 50%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
/* background per bottoni in hover */
.tab button:hover {
  background-color: #e6b319;
}
/* tab attiva */
.tab button.active {
  background-color: #e6b319;
}
/* tab contenuto */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #e6b319;
  border-radius: 12px;
  border-top: none;
}

/* colonne della galleria catalogo */
.galleryrow {
  display: flex; /* per allineamento */
  flex-wrap: wrap; /* manda a capo */
  padding: 0 4px;
}
/* Create two equal columns that sits next to each other */
.column {
  width: 50%;
  max-width: 50%;
  padding: 0 4px;
}
.column p {
	margin-top: 0px;
	text-align: right;
	font-weight: bold;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.zoom {
  transition: transform .2s;
}
.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
/* crediti delle immagini */
.imgcredits {
	margin-top: 0;
	font-size: 10px;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
}
.pagination li a {
  display: inline-block;
  padding: 8px 12px;
  text-decoration: none;
  border: 1px solid #e6b319;
  color: #4A2C00;  
  margin: 0 4px;
  border-radius: 5px;
}
.pagination li a.attiva {
  background-color: #e6b319;
  color:#4A2C00;
}

/* accordion catalogo */
.accordion {
  background-color: #001d4a;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}
.active, .accordion:hover {
  background-color: #001d4a;
}
.accordion:after {
  content: '\002B'; /* mette il + */
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2212"; /* mette il - */
}
.panel {
  padding: 0 18px;
  max-height: 0; /* nasconde pannello che poi si deve aprire */
  overflow: hidden;
  transition: max-height 0.2s ease-out; /* animazione quando cambia l'altezza, dura 0.2 secondi, rallenta alla fine */
}

/* ITEM */
/* contiene la parte con la tabella ma anche il titolo e la descrizione */
.dati {
	color: #001D4A;
	margin-left: 15px;
	margin-top: 0px;
	box-sizing: border-box; /* gestisce larghezza massima */
}
/* table dati */
.tab_item {
	font-size: 17px;
	color: #001D4A;
}
.tab_item a {
	font-size: 12px; /* piccoli perchè sup */
}
.tab_item img {
	max-width: 300px;
	height: auto;
}
.dati p {
	font-size: 17px;
}
/* flip card item */
.flip-card {
  background-color: transparent;
  width: 100%;
  flex: 1;  /* occupa tutto lo spazio disponibile */
  min-height: 600px;  
  border: none;
  perspective: 1000px; /* 3D */
}
/* interno della card */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s; 
  transform-style: preserve-3d; /* mantenere 3D */
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); /* flip orizzontale */
}
/* posiziona fronte e retro */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-sizing: border-box;  /* gestisce larghezza massima */
  top: 0;
  left: 0;
}
.flip-card-front img {
	width: 100%;
  height: auto;
  object-fit: contain; /* immagine si adatta al contenitore mantenendo le proporzioni (non si deforma) */
  object-position: center;
}
/* front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
}
/* back side */
.flip-card-back {
  transform: rotateY(180deg);
  overflow-y: auto; /* mette una barra laterale per lettere troppo lunghe */
  display: flex;
  flex-direction: column; /* paragrafi uno sotto l'altro */
}
.flip-card-back p {
  margin: 0;
  padding: 20 px;
  font-size: 18px;
  line-height: 1.5;
  height: auto;
}

/* TIMELINE */
.titolo {
	text-align: center;
	color: #800020; /* colore bordeaux */
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
/* barra verticale */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #E6B319; /* colore ocra */
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
/* container attorno al content (contiene tutto il riquadro rosso e la freccetta) */
.tl_container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
/* cerchietti sulla barra */
.tl_container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: whitesmoke;
  border: 4px solid #800020;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/* container a sinistra */
.left {
  left: 0;
}
/* container a destra */
.right {
  left: 50%;
}
/* frecce container a sinistra */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #800020;
  border-width: 10px 0 10px 10px; /* freccia si forma con lo spessore dei bordi */
  border-color: transparent transparent transparent #800020; /* solo in una direzione è visibile */
}
/* frecce container a destra */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #800020;
  border-width: 10px 10px 10px 0;
  border-color: transparent #800020 transparent transparent;
}
/* cerchio per contenitorii a destra */
.right::after {
  left: -16px;
}
/* content dei riquadri */
.content {
  padding: 20px 30px;
  color: whitesmoke;
  background-color: #800020;
  position: relative;
  border-radius: 6px;
}
.content img {
	max-width: 100%;    
  height: auto;      
  display: block;     
  margin: 10px auto 0 auto; 
  border-radius: 4px; 
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  /* Full-width containers */
  .tl_container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .tl_container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}

/* LUOGHI */ 
#map {
	position: relative;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 500px;
	z-index: 1;
	float: none;
  clear: both;
}
.mapcontainer {
	top:0;
}

/* DATI */
.datititolo {
	color: #4A2C00;
	text-align: center;
} 
/* bottone per download csv */
.download_btn {
	width: 25%;
	margin-left: 20px;
	height: 40px;
  border: 1px solid #e6b319; /* bordo dei bottoni gialli */
  border-radius: 8px;
  color: #4A2C00;
  background-color: #ffe05b;
  cursor: pointer;
  text-align: center;
}
.download_btn:hover {
  background-color: #e6b319;
}
.download_btn a {
	text-decoration: none;
	text-align: center;
	color: inherit;
}
/* search bar */
.search_wrapper {
	float: right;
	width: 25%;
	height:80px;
	margin-left: 670px;
	border-radius: 8px;
	color: #4A2C00;
}
.search_wrapper input[type=text] {
  float: right;
  padding: 6px;
  border-radius: 8px;
  border: none;
  margin: 0px;
  font-size: 17px;
  width: 100%;
  height: 40px;
}
/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  input[type=text] {
    border: 1px solid #ccc;
  }
}

/* table dati */
.data_table {
	margin-top: 30px;
	box-sizing: border-box; /* gestisce larghezza massima */
	width: 100%;
	align-items: center;
	font-size: 20px;
	padding: 10px;
	border-collapse: collapse; /* unisce i bordi delle celle della tabella */
  border-spacing: 0;
  border: 1px solid #3891A6;
  background-color: #c6e4ec;
}
.data_table th, .data_table td {
  text-align: left;
  padding: 15px;
}
.data_table tr:nth-child(even) {
  background-color: whitesmoke; /* zebra table, colori delle righe alternati */
}
.data_table tr:hover {
	background-color: #197278;
	color: whitesmoke;
}
.data_table a {
	font-size: 20px;
}
.table_head {
	background-color: #197278;
	color: whitesmoke;
	font-size: 22px;
	font-weight: bold;
	padding: 20px;
}
.table_head i {
	font-size:24px; /* icona filtro */
}
.table_head i:hover {
	color: #3891A6;
}
